
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin: 0%;
    background-color:rgb(209, 209, 209);
}
header{
    background-color: #fff;
    display: flex;
    justify-content: center;
    
}
.headerCont{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerCont button{
    height: 1.5rem;
}
.logo{
    height: 2rem;
}
hr{
    visibility: hidden;
}
nav{
    background-color: black;
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin: 0 5px;
}
nav li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
li a.active, li a:hover{
    background: orange;
    transition: .5s;
    color: black;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
h3{
    margin: 0%;
}
button a{
    text-decoration: none;
    color:inherit
}
button{
    height: 3em;
    width: auto;
    background-color: rgb(73, 139, 230);
    color: #fff;
    padding: 0 20px ;
    border-radius: 5px;
}
button:hover{
    background-color: orange;
    color: black;
}

section{
    height: auto;
    width: 60%;
    background-color: white;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border-radius: 20px;
    margin: 30px auto;
    padding: 5% 10%;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}


.formulario__validacion-estado {
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}


.formulario__mensaje {
	height: 45%;
	line-height: 45%;
	background: #F66060;
	padding: 2% 5%;
    margin:auto;
	border-radius: 3px;
	display: none;
    width: 90%;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
    text-align:center;
	margin: 0;
    padding: auto;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 35%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
    text-align: center;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__g-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__g-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__g-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__g-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.secCol2{
    background-color: black;
    color:#fff;
    width: 90%;
}


.legend2{
    text-align: center;
}

.secCol3{
    background-color: rgb(255, 119, 0);
}
.carrusel-item img{
    object-fit:cover;
    overflow: hidden;
}

footer{
    display: flex;
    padding: 10% 10%;
    background-color: black;
    color: #fff;
    flex-direction: column;
    align-items: center;
}
footer div{
    padding: 0 auto;
}
footer ul {
    display: inline-block;
}

iframe{
    width: 50vw;
    height: 30vw;
}

/* ----- -----  Mediaqueries ----- ----- */
@media (max-width: 980px){
    nav{
        justify-content: end;
    }
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: orange;
        top: 80px;
        left: 100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        padding: 30px 0;
        line-height: 30px;
        
    }
    nav ul li a{
        font-size: 20px;
        
    }
    li:hover{
        background-color: black;
    }
    li a:hover, li a.active{
        background: none;
        color: rgb(0, 77, 184);
    }
    #check:checked ~ ul{
        left: 0;
    }
    section{
        width: 90%;
    }
}

/* ----- -----  Mediaqueries ----- ----- */
@media (max-width: 576px){
    section{
        width: 100%;
        border-radius: 0%;
        margin: 0%;
    }

    .input-padron {
        box-sizing: border-box;
        max-width: 80%;
      }

      .secCol2{
        width: 100%;
    }

       
}
form{
    width: 100%;
}
.botonNegro{
    background-color: black;
}
.botonNegro:hover{
    background: orange;
    transition: .5s;
    color: black;
}

/* ----- -----  estilos formularios de carga y descarga ----- ----- */



.inputD{
    margin: 1% 1%;
}

#submitLlegada-disabled{
    margin: 2% 40%;
}

#submit-carga{
    margin: 2% 40%;
}