body{
    background-color: rgb(229, 229, 229);
}

header {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    padding: 20px 0;/*espaciamiento interno arriba y abajo de 20px*/
}


.box{
    position: relative;/*posicion relativa a la posicion absoluta del elemento nav*/
    width: 940px;/*aproximadamente el 70% del comun de las pantallas*/
    margin: 0 auto;/*automaticamente se calcula los margenes der e izq y centra la imagen en cualquier pantalla*/
    
}

nav{
    position: absolute;/*puedo mover el elemento por toda la pantalla. RELATIVE lo haria en relacion a la posicion deonde se encuentra el elemento*/
    top: 50px;
    right: 0px;
}

nav li{
    display: inline;/*se cambia a inline porque las listas vienen por defecto en bloque*/
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;/*mayuscula*/
    color: rgb(0, 0, 0);
    font-weight: bold;/*negrita para las letras*/
    font-size: 20px;
    text-decoration: none;/*se le quita el subrayado de la palabra en este caso*/
}

nav a:hover{
    color: #f0030b;
    text-decoration: underline;
}

main{
    width: 940px;
    margin: 25px 0 15px 15px;

}

.tittle {
    color: rgb(225, 4, 4);
    padding-bottom: 10px;
    font-weight: bold;/*negrita para las letras*/
    font-size: 40px;
    margin-top: 18%;
    margin-bottom: 40px; 
    border-bottom: solid;
    border-color: rgb(159, 161, 161);
}

form{
    width: 740px;
    margin: 20px auto;
}

form select{
    margin: 0 0 20px;
    padding: 5px 15px;
    width: 77%;
    border:3px solid brown;
    border-radius:22px;
}


form label, form legend{
    display: block;
    font-size: 15px;
    margin: 18px 0 5px;
    font-weight: bold;
}

.input-padron{
    display: block;
    border:3px solid brown;
    border-radius:22px;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 70%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 25%;
    margin: 10px 0px 15px 35%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:#FFFFFF;
    background-color: rgb(123, 65, 248);
    border: none;
    border-radius: 25px;
    transition: 1s all;/*demora la transicion de todos los elementos en este caso 1 segundo*/
    cursor: pointer;/*cambia el cursor cuando se posiciona en el boton*/
}

.enviar:hover{
    background-color: rgb(255, 0, 55);
    transform: scale(1.1);/*agranda en un 20% el tamaño del boton*/
}

footer{
    text-align: center;
    background: url(bg.jpg);
    padding: 40px;
}

